[submodule "externals/rapidjson"]
	path = externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "examples/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
